.app {
  display: flex;
  flex-direction: column;
  flex:1
}

.header {
  background-color: aliceblue;
  border: 2px solid grey;
}

.body {
  display: flex;
  flex-direction: row;
  border: 2px solid grey;
}

.searcher {
  flex: 2;
  border: 2px solid grey;
}

.listing {
  flex:4;
  border: 2px solid grey;
}
